<link href="../Content/CSS/shared.css" rel="stylesheet">

<div class="fixed">
	<nav class="top-bar" data-topbar role="navigation">
		<ul class="title-area">
			<li class="name">
				<h1><a href="./Home.html">Pokemon Masters</a></h1>
			</li>
		</ul>

		<section class="top-bar-section">
			<!-- Left Nav Section -->
			<ul class="left">
				<li class="home"><a href="./Home.html">Home</a></li>
				<li class="guildroster"><a href="./GuildRoster.html">Guild Roster</a></li>
				<li class="apply"><a href="./Apply.html">Apply</a></li>
			</ul>
		
			<!-- Right Nav Section -->
			<ul class="right">
				<li class="login" data-bind="visible: !loggedIn()" data-reveal-id="loginModal"><a>Login</a></li>
				<li class="register" data-bind="visible: !loggedIn()" data-reveal-id="registerModal"><a>Register</a></li>
				<li class="username" data-bind="visible: loggedIn"><a data-bind="text: username"></a></li>
				<li class="logout" data-bind="visible: loggedIn, click: logout"><a>Logout</a></li>
			</ul>
		</section>
	</nav>
</div>

<div id="loginModal" class="reveal-modal" data-reveal>
	<span class="close-reveal-modal">&#215;</span>
	<div class="row" data-bind="click: clearError">
		<div class="small-4 column end">
			<small class="error clearError" data-bind="text: error, visible: error() != ''"></small>
		</div>
	</div>
	<div class="row">
		<div class="small-4 column">
			Username: <input type="text" data-bind="textInput: username" />
		</div>
		<div class="small-4 column end">
			Password: <input type="password" data-bind="textInput: password" />
		</div>
	</div>
	<div class="row">
		<div class="small-4 column">
			<input type="button" data-bind="click: $root.login" value="Login" />
		</div>
		<div class="small-4 column end">
			<input type="button" data-reveal-id="registerModal" value="Register" />
		</div>
	</div>
</div>

<div id="registerModal" class="reveal-modal" data-reveal>
	<span class="close-reveal-modal">&#215;</span>
	<div class="row">
		<div class="small-4 column">
			Username: <input type="text" data-bind="textInput: username" />
		</div>
		<div class="small-4 column end">
			Password: <input type="password" data-bind="textInput: password" />
		</div>
	</div>
	<div class="row">
		<div class="small-4 column end">
			<input type="button" data-bind="click: $root.register" value="Register" />
		</div>
	</div>
	<div class="alert-box alert round" data-bind="text: error, visible: error() != ''"></div>
</div>