<script type="text/javascript" src="../Scripts/jquery.js"></script>
<script type="text/javascript" src="../Scripts/knockout.js"></script>
<script type="text/javascript" src="../Scripts/ko.mapping.js"></script>
<script type="text/javascript" src="../Scripts/utils.js"></script>
<script type="text/javascript" src="../Scripts/foundation.min.js"></script>
<script type="text/javascript" src="../ViewModels/GuildRosterViewModel.js"></script>
<script type="text/javascript" src="../ViewModels/SharedViewModel.js"></script>
<script type="text/javascript" src="../ViewControllers/GuildRoster.js"></script>

<link href="../Content/CSS/foundation.min.css" rel="stylesheet">
<link href="../Content/CSS/GuildRoster.css" rel="stylesheet">

<html>
<head>
	<title>Guild Roster</title>
</head>
<body>
	<div class="navigation"></div>
	<table class="center main-section">
		<thead>
			<tr>
				<th width="200">Character Name</th>
				<th width="200">Rank</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: guildMembers">
			<tr>
				<td data-bind="text: character.name, click: function() { $root.showPlayer($root, $data)}" class="clickPlayer"></td>
				<td data-bind="text: getRankName(rank)"></td>
			</tr>
		</tbody>
	</table>
	
	<div id="playerModal" class="reveal-modal small" data-reveal>
		<span class="close-reveal-modal">&#215;</span>
		<div class="row">
			<div class="small-12 column">
				<span data-bind="text: guildMember().name"></span> - <span data-bind="text:guildMember().level"></span>
				<span data-bind="text: getRace(guildMember().race)"></span>
				<span data-bind="text: getClass(guildMember().class)"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				<img data-bind="attr: {src: 'https://us.battle.net/static-render/us/' + guildMember().thumbnail}" class="playerImg" >
			</div>
			<div class="small-6 column end">
				<img data-bind="attr {src: getClassIcon(guildMember().class)}" class="playerImg" >
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				<span data-bind="text: playerStats().priStatName"></span>: <span data-bind="text: playerStats().priStatVal"></span>
			</div>
			<div class="small-6 column end">
				<span data-bind="text: playerStats().secStatOneName"></span>: <span data-bind="text: playerStats().secStatOneVal"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				<span data-bind="text: playerStats().secStatTwoName"></span>: <span data-bind="text: playerStats().secStatTwoVal"></span>
			</div>
			<div class="small-6 column end">
				<span data-bind="text: playerStats().secStatThreeName"></span>: <span data-bind="text: playerStats().secStatThreeVal"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Crit: <span data-bind="text: playerStats().crit"></span>%
			</div>
			<div class="small-6 column end">
				Haste: <span data-bind="text: playerStats().haste"></span>%
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Health: <span data-bind="text: playerStats().health"></span>
			</div>
			<div class="small-6 column end">
				Leech: <span data-bind="text: playerStats().leech"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Mastery: <span data-bind="text: playerStats().mastery"></span>%
			</div>
			<div class="small-6 column end">
				Multistrike: <span data-bind="text: playerStats().multistrike"></span>%
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Versatility: <span data-bind="text: playerStats().versatility"></span>
			</div>
			<div class="small-6 column end">
			</div>
		</div>
		<!-- Talents and Glyphs -->
		<ul class="button-group round">
			<li>
				<div id="mainSpec" class="button tiny round" data-bind="text: playerStats().mainSpec.spec.name || '', visible: playerStats().mainSpec != ''" ></div>
			</li>
			<li>
				<div id="offSpec" class="button tiny round" data-bind="text: playerStats().offSpec.spec.name || '', visible: playerStats().offSpec != ''" ></div>
			</li>
		</ul>
		<div class="row">
			<div class="small-6 column">
				Talents
			</div>
			<div class="small-6 column">
				Glyphs
			</div>
		</div>
		<div class="row">
			<div class="small-6 column" data-bind="foreach: guildMember().talents[activeSpec()].talents.sort(function(a, b) {return a.tier-b.tier;})">
				<div data-bind="text: spell.name"></div>
			</div>
			<div class="small-6 column end" data-bind="foreach: [0, 1, 2]">
				<div data-bind="text: $root.guildMember().talents[$root.activeSpec()].glyphs.major[$data].name"></div>
				<div data-bind="text: $root.guildMember().talents[$root.activeSpec()].glyphs.minor[$data].name"></div>
			</div>
		</div>
	</div>
</body>
</html>