<script type="text/javascript" src="../Scripts/jquery.js"></script>
<script type="text/javascript" src="../Scripts/knockout.js"></script>
<script type="text/javascript" src="../Scripts/ko.mapping.js"></script>
<script type="text/javascript" src="../Scripts/utils.js"></script>
<script type="text/javascript" src="../Scripts/foundation.min.js"></script>
<script type="text/javascript" src="../ViewModels/Home.js"></script>
<script type="text/javascript" src="../ViewModels/SharedViewModel.js"></script>
<script type="text/javascript" src="../ViewControllers/Home.js"></script>

<link href="../Content/CSS/foundation.min.css" rel="stylesheet">
<link href="../Content/CSS/Home.css" rel="stylesheet">

<html>
<head>
	<title>Home</title>
</head>
<body>
	<div class="navigation"></div>
	
</body>
</html>