<script type="text/javascript" src="../Scripts/jquery.js"></script>
<script type="text/javascript" src="../Scripts/knockout.js"></script>
<script type="text/javascript" src="../Scripts/ko.mapping.js"></script>
<script type="text/javascript" src="../Scripts/utils.js"></script>
<script type="text/javascript" src="../Scripts/foundation.min.js"></script>
<script type="text/javascript" src="../ViewModels/Home.js"></script>
<script type="text/javascript" src="../ViewModels/SharedViewModel.js"></script>
<script type="text/javascript" src="../ViewControllers/Home.js"></script>

<link href="../Content/CSS/foundation.min.css" rel="stylesheet">
<link href="../Content/CSS/Home.css" rel="stylesheet">

<html>
<head>
	<title>Home</title>
</head>
<body>
	<div class="navigation"></div>
	<table class="center main-section">
		<thead>
			<tr>
				<th width="200">Character Name</th>
				<th width="200">Rank</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: guildMembers">
			<tr>
				<td data-bind="text: character.name, click: function() { $root.openModal($root, $data)}" class="clickPlayer"></td>
				<td data-bind="text: getRankName(rank)"></td>
			</tr>
		</tbody>
	</table>
	
	<div id="playerModal" class="reveal-modal center" data-reveal>
		<span class="close-reveal-modal">&#215;</span>
		<div class="row">
			<div class="small-12 column">
				<span data-bind="text: guildMember().name"></span> - <span data-bind="text:guildMember().level"></span>
				<span data-bind="text: getRace(guildMember().race)"></span>
				<span data-bind="text: getClass(guildMember().class)"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				<img data-bind="attr: {src: 'https://us.battle.net/static-render/us/' + guildMember().thumbnail}" class="playerImg" >
			</div>
			<div class="small-6 column">
				<img data-bind="attr {src: getClassIcon(guildMember().class)}" class="playerImg" >
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				<span data-bind="text: playerStats().priStatName"></span>: <span data-bind="text: playerStats().priStatVal"></span>
			</div>
			<div class="small-6 column">
				<span data-bind="text: playerStats().secStatOneName"></span>: <span data-bind="text: playerStats().secStatOneVal"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				<span data-bind="text: playerStats().secStatTwoName"></span>: <span data-bind="text: playerStats().secStatTwoVal"></span>
			</div>
			<div class="small-6 column">
				<span data-bind="text: playerStats().secStatThreeName"></span>: <span data-bind="text: playerStats().secStatThreeVal"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Crit: <span data-bind="text: playerStats().crit"></span>%
			</div>
			<div class="small-6 column">
				Haste: <span data-bind="text: playerStats().haste"></span>%
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Health: <span data-bind="text: playerStats().health"></span>
			</div>
			<div class="small-6 column">
				Leech: <span data-bind="text: playerStats().leech"></span>
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Mastery: <span data-bind="text: playerStats().mastery"></span>%
			</div>
			<div class="small-6 column">
				Multistrike: <span data-bind="text: playerStats().multistrike"></span>%
			</div>
		</div>
		<div class="row">
			<div class="small-6 column">
				Versatility: <span data-bind="text: playerStats().versatility"></span>
			</div>
			<div class="small-6 column">
			</div>
		</div>
	</div>
</body>
</html>